/* Start global rols */
:root {
  --main-color: #2196f3;
  --main-transition: 0.3s;
  --primary-color: #edf2fc;
  --secondary-color: #202124;
  --hover-color: #ccc;
  --bg-theme: #eee;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  display: block;
}
.container {
  padding: 0 10px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 80%;
  }
}
/* End global rols */
/* Start Toggle-checkbox */
/* .toggle-checkbox{
  -webkit-appearance: none ;
  appearance:none;
}
.toggle-switch{ 
  background-color: #ccc;
  width:78px ;
  height: 32px;
  cursor: pointer;
  transition: .3s;
}
.toggle-switch::before{
  font-family: var(--fa-style-family-classic);
  content: "\f00d";
  font-weight: 900;
  position: absolute;
  width: 22px;
  height: 22px;
  left: 4px;
  top: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #aaa;
  transition: .3s;
}
.toggle-checkbox:checked + .toggle-switch{
  background-color: var(--blue-color);
}
.toggle-checkbox:checked + .toggle-switch::before{
  content: "\f00c"; 
  color: var(--blue-color) ;
  left: 52px;
} */
/* End Toggle-checkbox */

/*/////////////////////////// NavBar ///////////////////////////*/
/* header .container {
  position: relative;
}
header .container nav {
  width: 150px;
  text-align: start;
  padding: 10px;
}
header .container ul {
  background-color: var(--main-color);
  margin: 10px;
}
header .container ul li a {
  padding: 5px;
  color: var(--secondary-color);
}
header .container ul li a:hover {
  background-color: var(--hover-color);
}
button {
  background-color: var(--main-color);
  padding: 5px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
button:hover {
  background-color: var(--hover-color);
}
#close {
  position: absolute;
  left: 150px;
}
.open,
.hide {
  display: none;
} */
/* Start Box */
.d-flex {
  display: flex;
}
.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.c-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.align-center {
  align-items: center;
}
.f-wrap {
  flex-wrap: wrap;
}
.d-block {
  display: block;
}
@media (max-width: 767px) {
  .hide-mobile {
    display: none;
  }
}
@media (max-width: 767px) {
  .block-mobile {
    display: block;
  }
}
.d-grid {
  display: grid;
}
.gap-20 {
  gap: 20px;
}
/* End Box */
/* Padding A Margin */
.p-5 {
  padding: 5px;
}
.p-10 {
  padding: 10px;
}
.p-15 {
  padding: 15px;
}
.p-20 {
  padding: 20px;
}
.pt-15 {
  padding-top: 15px;
}
.pt-20 {
  padding-top: 20px;
}
.pt-30 {
  padding-top: 30px;
}
.pb-15 {
  padding-bottom: 15px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pl-15 {
  padding-left: 15px;
}
.m-0 {
  margin: 0px;
}
.m-20 {
  margin: 20px;
}
.mt-0 {
  margin-top: 0px;
}
.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-25 {
  margin-top: 25px;
}
.mr-15 {
  margin-right: 15px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-50 {
  margin-bottom: 50px;
}
.ml-10 {
  margin-left: 10px;
}
.margin-section {
  margin:0 100px;
}
/* Padding A Margin */
/* Start Color */
.c-white {
  color: white;
}
.c-black {
  color: black;
}
.c-blue {
  color: var(--main-color);
}
.c-primary{
  color: var(--primary-color);
}
.c-secondary{
  color: var(--secondary-color);
}
.c-blue-alt {
  color: var(--blue-alt-color);
}
.bg-ccc {
  background-color: #ccc;
}
.bg-eee {
  background-color: #eee;
}
.bg-blue {
  background-color: var(--main-color);
}
.bg-theme {
  background-color:var(--bg-theme);
}

/* End Color */
/* Start Border */
.o-non {
  outline: none;
}
.b-none {
  border: none;
}
.rad-6 {
  border-radius: 6px;
}
.rad-10 {
  border-radius: 10px;
}
.rad-15 {
  border-radius: 15px;
}
.rad-half {
  border-radius: 50%;
}
.border-ccc{
  border: 1px solid #ccc;
}
/* End Border*/
/* Start Position */
.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute;
}
/* End Position */
/* Start Text*/
.txt-c {
  text-align: center;
}
@media (max-width: 767px) {
  .txt-c-mobile {
    text-align: center;
  }
}
/* End Text*/
/* Start Font*/
.fs-15 {
  font-size: 15px;
}
.fs-20 {
  font-size: 20px;
}
.fs-25 {
  font-size: 25px;
}
.fw-bold {
  font-weight: bold;
}
.l-s-8{
  letter-spacing: 1px;
}
/* End Font*/
ul {
  list-style: none;
  padding: 0;
}
/* Start Width & Height*/
.w-fit {
  width: fit-content;
}
.w-half {
  width: 50%;
}
.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}
.vh-height {
  height: 100vh;
}
.vh-h-section {
  height: calc(100vh - 73px);
}
/* End Width & Height*/
/* Start Components */
.z-1{
  z-index: 1
}
.btn-shape {
  padding: 4px 10px;
  border-radius: 6px;
}
/* End Components */
/*/////////////////////////// Gallary ///////////////////////////*/

/*/////////////////////////// Gallary ///////////////////////////*/
/*
.gallary2 {
  background-color: var(--section-backgrond);
}
.gallary .container .photos img,
.gallary2 .container .photos img {
  width: 100px;
  border: 5px solid #aaa;
}
.gallary .container .photos img:hover,
.gallary2 .container .photos img:hover {
  border: 5px solid #080;
  cursor: pointer;
}
.gallary .container .main img,
.gallary2 .container .main img {
  width: 500px;
  border: 5px solid #aaa;
}
*/
/*/////////////////////////// scrolltop ///////////////////////////*/
#scrolltop {
  position: fixed;
  width: 30px;
  height: 40px;
  background-color: var(--main-color);
  cursor: pointer;
  bottom: 70px;
  right: 10px;
  z-index: 3;
  display: none;
}
#scrolltop:hover{
  background-color: #4867aa;
}
/*/////////////////////////// Dark-Theme ///////////////////////////*/
#icon{
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin: auto 5px;
}
.dark-theme{
  --primary-color: #202124;
  --secondary-color: #ccc;
  --hover-color: #111;
  --bg-theme: #000;
}
