body{
  background-color: #afadad66;
}
header{
  position: fixed;
  z-index: 9999999999;
  padding-top: 5px;
  background-color: #dfdede;
}
@media (max-width:991px) {
  header .container{
    width: 98%;
  }
}
header nav{
  flex:1;
}
header .image{
  width: 55px;
  height: 55px;
}
header ul li a{
  cursor: pointer;
  color: var(--secondary-color);
  font-weight: bold;
  z-index: 1;
  border-radius: 100px;
  padding: 15px 20px;
  margin-left: 5px;
}
header ul li a.active{
  background-color: var(--hover-color);
  color: VAR(--main-color);
}
header ul li a:not(a.active)::after,
header ul li a:not(a.active)::before{
  content: "";
  position: absolute;
  background-color: var(--hover-color);
  top: 0;
  width: 0%;
  z-index: -1;
  transition: var(--duble-transition);
  border-radius: 100px;
}
header ul li a:not(a.active)::after{
  right: 0;
  height: 100%;
}
header ul li a:not(a.active)::before{
  left: 0;
  height: 100%;
}
header ul li a:not(a.active):hover:after,
header ul li a:not(a.active):hover::before{
  width: 80%;
}
#toggle{
  color: var(--secondary-color);
}
@media (min-width:991px) {
  header .close,
  header .toggle{
    display: none;
  }
}
/* Start Toggle toggle*/
header i{
  cursor: pointer;
}
header .close{
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 35px;
  font-weight: bold;
  color: var(--main-color);
  border-radius: 50%;
  cursor: pointer;
}
ul.open{
  transform: translateX(0);
}
/* End Toggle menu */
@media (max-width:991px) {
  header ul{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--hover-color);
    transform: translateX(-100%);
    transition: var(--main-transition);
    z-index: 8;
  }
  header ul li{
    width: 100%;
    position: absolute;
    
  }
  header ul li:nth-child(2){
    top: 150px;
  }
  header ul li:nth-child(3){
    top: 200px;
  }
  header ul li:nth-child(4){
    top: 250px;
  }
  header ul li:nth-child(5){
    top: 300px;
  }
  header ul li a{
    margin: auto 0;
    text-align: center;
    border-radius: 0;
  }
  header ul li a.active{
    color: white;
    background-color: var(--main-color);
  }
}
/* End Header */
/* Start Landing  */
.about,
.skills,
.services,
.mywork{
  margin: 150px 0;
}
.title>h1{
  color: var(--main-color);
}
.landing .container .image{
  width: 400px;
}
.landing .container .image img{
  max-width: 100%;
}
.landing .container .text{
  background-color:var(--hover-color);
  width: 50%;
  padding: 60px 80px;
  border-radius: 181px;
  text-transform: capitalize;
}
.landing .container .text h1{
  letter-spacing: -2px;
}
@media(max-width:991px){
  .landing .container {
    width: 100%;
    position: relative;
  }
  .landing .container .image{
    display: none;
  }
  .landing .container .text{
      position: absolute;
      left: 0;
      top: 40%;
      transform: translateY(-55%);
      width: 100%;
      padding: 30px 20px;
      text-align: left;
      border-radius: 0;
      margin: 10px 0;
    }
  .landing .text h1{
    font-size: 40px;
    letter-spacing: 0;
  }
  .landing .text p{
    font-size: 30px;
  }
  .landing .text p{
    font-size: 23px;
  }
} 
/* End Landing */
/* Start About  */
.about img{
  margin-right: 100px;
  height: 400px;
}
@media(max-width:991px){
  .about img{
    display: none;
  }
}
.about .content .text{
  margin-top: 40px;
  max-width: 600px;
}
.about .content .info p:first-child{
  margin-top: 40px;
}
.about .content .text p::before,
.about .content .info p::before{
  content:"";
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  transition:calc(var(--main-transition) * 2);
  background-color:var(--hover-color);
  z-index: -1;
}
.about .content .text p:hover::before,
.about .content .info p:hover::before{
  width: 100%;
}
@media(max-width:767px){
  .about .content .info p{
    font-size: 13px;
  }
}
@media(max-width:767px){
  .about .content .title,
  .about .content .text{
    width: 350px;
  }
}
/* End About */
/* Start Skills  */
.skills .skill{
  width: 600px;
  position: relative;
}
@media (max-width:767px) {
  .skills .skill{
    width: 350px;
  }
}
.skills .skill p{
  font-size: 25px;
  font-weight: bold;
  margin: 30px 10px 10px 0;
}
.skills .skill p>span{
  position: absolute;
  right: 9px;
  font-size: 12px;
  background-color: #c9c9c9;
  padding: 5px 10px;
}
.skills .skill p span::after{
  content: "";
  position: absolute;
  bottom: -20px;
  left: 13px;
  border-width: 10px;
  border-style: solid;
  border-color: #c9c9c9 transparent transparent transparent ;
}
.skills .skill .prog{
  max-width: 600px;
  height: 40px;
  background-color: #c9c9c9;
  position: relative;
}
@media (max-width:767px) {
  .skills .skill .prog{
    max-width: 350px;
  }
}
.skills .skill .prog span{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: var(--main-color);
}
/* End Skills */
/* Start Services */
@media (min-width:1200px) {
  section.services{
    height: calc(100vh - 131px);
  }
}
.services .container .boxs{
  display: grid;
  grid-template-columns: repeat(auto-fill , minmax(300px ,1fr));
  gap: 40px;
}
.services .boxs .box{
  background-color: var(--main-color);
  transition: var(--main-transition);
  border-radius: 6px;
  box-shadow: 0 3px 5px #000000a9;
  position: relative;
}
.services .boxs .box::after,
.services .boxs .box::before{
  content: "";
  position: absolute;
  top: 0;
  height: 4px;
  width: 0;
  background-color: #09518b;
  transition: var(--main-transition);
}
.services .boxs .box::before{
  left: 50%;
}
.services .boxs .box::after{
  right: 50%;
}
.services .boxs .box:hover:before,
.services .boxs .box:hover:after{
  width: 50%;
}
.services .boxs .box:hover{
  transform: translateY(-10px);
}
.services .boxs .box .image{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.services .image img{
  max-width: 100%;
  max-height: 100px;
  margin: 10px;
}
.services .boxs .box h3{
  font-size: 30px;
  margin: 10px 0;
  color: white;
}
.services .boxs .box .link{
  padding: 5px;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 15px;
  counter-increment: services;
  position: relative;
  overflow: hidden;
  margin-top: 30px;
  border-top: .5px solid rgba(119, 119, 119, 0.226);
}
.services .boxs .box .link a{
  color: white;
}
.services .boxs .box .link::before{
  content: "0" counter(services);
  position: absolute;
  left: 0;
  top: 0;
  font-size: 30px;
  font-weight: bold;
  color: white;
  height: 100%;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  padding-right: 30px; ;
}
.services .boxs .box .link::after{
  content: "";
  position: absolute;
  height: 100%;
  width: 50px;
  left: 65px;
  top: 0;
  background-color: var(--second-color);
  transform: skewx(-30deg);
}
/* End Services  */
/* Start My Work  */
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: hsla(0, 0%, 80%, 0.01);
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin-bottom: 30px;
}
.swiper-slide .image{
  width: 800px;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper {
  margin-left: auto;
  margin-right: auto;
}
@media (max-width:991px) {
  .swiper-slide .image {
    width: 200px;
}
}
/* /////////////////////////////////////////////////////////////////////////////////// */
/* End My Work */
/* Start Footer  */
footer{
  position: relative;
  padding: 10px 0;
  background-color: black;
  z-index: 2;
}
footer .container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
footer .container .text{
  font-size: 15px;
  font-weight: bold;
  color:#cccccc3b;
}
footer .container .heart{
  color: green;
}
footer .container .mysocial{
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .container .mysocial a{
  padding: 6px 10px;
  background-color: #2e2e2e;
  margin-right: 10px;
  transition: var(--main-transition);
}
footer .container .mysocial a i{
  color: #6f6f6f;
  transition: var(--main-transition);
} 
footer .container .mysocial a:hover i{
  color: white;
}
footer .container .mysocial a.git:hover{
  background-color:#ff9933;
}
footer .container .mysocial a.whats:hover{
  background-color: #56f074;
}
footer .container .mysocial a.face:hover{
  background-color: #4867aa;
}
footer .container .mysocial a.insta:hover{
  background-color: #337ab7;
}
@media(max-width:767px){
  footer .container {
    flex-direction: column-reverse;
  }
  footer .container .mysocial{
    margin: 10px 0 5px;
  }
}
/* End Footer 