$main-color: #efc552;
$second-color: #edf2fc;
$therd-color: #2e2e2e;
$bg-p: #181818;
$p-color: #a7a7a7;
.bg-p{
  background-color: $bg-p;
}
.main-color{
  color: $main-color;
}
.second-color{
  color: $second-color;
}
.therd-color{
  color: $therd-color;
}
.p-color{
  color: $p-color;
}
.bg-p{
background-color: $bg-p;
}

